.App {
  text-align: center;
}

.header{
  border: 2px solid purple;
  background-color: rgb(243, 208, 243);
}

.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  border: 2px solid gold;
  justify-content: center;
  align-items: space-around;
  background-color: rgb(233, 227, 197);
  width: 100%;
}

.articles{
  border: 2px solid red;
  background-color: rgb(236, 199, 199);
}

.articlecontainer{
  border: 2px solid blue;
  background-color: rgb(199, 199, 241);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  display: grid;
  grid-template-areas: 
  "title title avatar"
  "author published ."
  "body body body";
  justify-items: start;
}

.articleitem1{
  background-color: grey;
  color:white;
  grid-area: title;
}

.articleitem2{
  background-color: grey;
  color:white;
  grid-area: avatar;
}

.articleitem3{
  background-color: grey;
  color:white;
  grid-area: author;
}

.articleitem4{
  background-color: grey;
  color:white;
  grid-area: published;
}

.articleitem5{
  background-color: grey;
  color:white;
  grid-area: body;
}