.App {
  text-align: center;
}

.headercontainer{
  border: 2px solid purple;
  background-color: rgb(243, 208, 243);
  display:grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: 'header login';
}

.header{
  justify-self: start;
  margin-left: 3%;
  grid-area: header;
}

.login{
  justify-self: center;
  align-self: center;
  grid-area: login;
  margin-top: 10px;
  border-radius: 15px 0px;
  width: 100px;
  height: fit-content;
}

.logoutcheck{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.userexists{
  font-size: 50px;
}

.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  border: 2px solid gold;
  justify-content: center;
  align-items: space-around;
  background-color: rgb(233, 227, 197);
  width: 100%;
}

.articles{
  border: 2px solid red;
  background-color: rgb(236, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.articlecontainer{
  width: 100%;
  border: 2px solid blue;
  background-color: rgb(199, 199, 241);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  display: grid;
  grid-template-areas: 
  "title title avatar"
  "author published fullarticle"
  "body body body";
  justify-items: start;
  margin-left: 0%;
  gap: 20px;
}

.articleitem1{
  background-color: grey;
  color:white;
  grid-area: title;
}

.articleitem2{
  background-color: grey;
  color:white;
  grid-area: avatar;
  justify-self: end;
}

.articleitem3{
  background-color: grey;
  color:white;
  grid-area: author;
}

.articleitem4{
  background-color: grey;
  color:white;
  grid-area: published;
}

.articleitem5{
  background-color: grey;
  color:white;
  grid-area: body;
}

.articleitem6{
  background-color: grey;
  color:white;
  grid-area: fullarticle;
  justify-self: end;
}

.bulletless{
  list-style: none;
}

.topiclist{
  border: 3px solid salmon;
  background-color: rgb(243, 198, 193);
}

.selectopic{
  border: 3px solid greenyellow;
  background-color: rgb(221, 245, 186);
  list-style: none;
}

.singlearticle{
  border: 3px solid pink;
  background-color: rgb(139, 122, 124);
  color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vote{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.commentcontainer{
  width: 100%;
  border: 2px solid green;
  background-color: rgb(182, 235, 182);
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  display: grid;
  grid-template-areas: 
  "author"
  "body"
  "timestamp"
  "votes"
  "delete";
  justify-items: center;
  margin-left: 0%;
  gap: 20px;
}

.commentitem1{
  background-color: grey;
  color:white;
  grid-area: author;
  justify-self: start;
}

.commentitem2{
  background-color: grey;
  color:white;
  grid-area: body;
}

.commentitem3{
  background-color: grey;
  color:white;
  grid-area: timestamp;
}

.commentitem4{
  background-color: grey;
  color:white;
  grid-area: votes;
  padding: 10px;
  
}
.commentitem5{
  background-color: grey;
  color:white;
  grid-area: delete;
  padding: 10px;
  
}

.commentformlink{
  position: fixed;
  right: 5%;
  bottom: 5%;
  border: 3px solid violet;
  background-color: rgb(226, 183, 228);
}

.addCommment{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid rgb(230, 246, 9);
  background-color: rgb(224, 230, 150);
}

.commentinput{
  width:100%;
  height: 150px;
}